.header {
	height: 55px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	background-color: white;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: rgb(221, 221, 221);
	z-index: 100;

}

.left-section {
	/* background-color: lightblue; */
	/* width: 150px; */
	display: flex;
	align-items: center;
}

.middle-section {
	/* background-color: lightpink; */
	flex: 1;
	margin-left: 70px;
	margin-right: 35px;
	max-width: 500px;
	display: flex;
	align-items: center;

}

.right-section {

	/* background-color: lightblue; */
	width: 180px;
	/* align-items: end; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 20px;
	flex-shrink: 0;
}


/* .search-bar{
    display: block;
    border-radius: 10px;
    border-width: 1px;
/* font-size: 20px;
margin-left: 12px; 


        } */
.hamburguers-menu {
	height: 24px;
	margin-left: 24px;
	margin-right: 24px;
}

.youtube-logo {
	height: 20px;
	/* margin-top: 2px; */
}

.voice-search-button {
	height: 40px;
	width: 40px;
	border-radius: 20px;
	border: none;


}


.search-button {
	height: 40px;
	width: 66px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(240, 240, 240);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(206, 206, 206);
	margin-left: -1px;
	margin-right: 10px;
	position: relative;
}

.search-bar {
	flex: 1;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(111, 112, 114);
	border-radius: 2px;
	box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.15);
}


/* text of input styles: */
.search-bar::placeholder {
	font-family: Roboto, Arial;
	font-size: 16px;
	padding-left: 10px;


}

.search-icon {
	height: 25px;
	/* margin-top: 4px; */
	display: flex;
	align-items: center;
}

.voice-search-icon {
	height: 24px;
	/* margin-top: 4px; */
	/* background-color: grey; */
}

.upload-icon {
	height: 24px;
}

.youtube-apps-icon {
	height: 24px;
}

.notifications-icon {
	height: 24px;

}

.notification-icon-container {
	position: relative;

}

.notification-count {
	position: absolute;
	top: -2px;
	right: -6px;
	background-color: rgb(192, 0, 0);
	font-family: Roboto;
	font-size: 11px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-top: 2px;
	border-radius: 10px;

}

.current-user-picture {
	height: 32px;
	border-radius: 60px;
}

/* .div-relative{
    display: flex;
    position: relative;
   justify-content: center;
   border-right: 0.667;
    
} */
.search-button .tooltip,
.voice-search-button .tooltip,
.div-relative .tooltip {
	display: flex;
	width:max-content ;
	font-family: Roboto;
	font-size: 12px;
	position: absolute;
	/* width: 50px; */
	background-color: rgba(96, 96, 96, 0.9);
	color: white;
	text-align: center;
	border-radius: 2px;
	padding: 8px;
	/* padding-left: 4px;
    padding-right: 4px; */
	top: 50px;
	pointer-events: none;
	/* important */
	transition: opacity 0.15s;
	opacity: 0;
	
}

.div-relative .tooltip {
	top: 42px;
}



/* important
 */
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.div-relative:hover .tooltip {
	opacity: 1;
	
}

/* .holder-icons {
	position: relative;
	justify-content: center;
	align-items: center;

} */
/* .holder-icons:hover .tooltip,
	.voice-search-button .tooltip{
	opacity: 1;
} */

.search-button,
.voice-search-button,
.div-relative {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

