.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    /* display: inline-block; */
    z-index: 200;
    padding-top: 4px;
}

.sidebar-link{
    background-color: rgb(255, 255, 255);
    height: 76px;
    /* margin-bottom: 1px; */
    /* transition: background-color 0.25s; */
    /* align-items: center; */
    display: flex;
    align-items: center;  
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
}
.sidebar-link:hover{
    background-color: lightgrey;
}


/* css technique */
.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;

}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
    text-align: center;
    /*align important */
}
