.video1 {

	width: 100%;
	/* height: auto;
    object-fit: cover;
    display: block; */
}


.video-title {
	/* margin : 0; */
	margin-top: 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	/* margin-bottom: 12px; */
	margin-bottom: 10px;

}

.video-stats,
.video-author {
	display: block;
	font-size: 12px;
	color: rgb(96, 96, 96);
}

.video-author {
	margin-bottom: 5px;
}


.video-preview {
	/* vertical-align: top; */
	/* width: 300px;     */
	/* display: inline-block;
 margin-right:15px; */
	/* height: 250px; */
	/* background-color: red;
 border-radius: 500px;
*/
	/* border-width: 1px;
border-color: black;
border-style: solid; */
}


.channelPictures {
	/* display: inline-block;*/
	/* width: 50px;  */
	/* vertical-align: top; */
	/* background-color: grey; */
	/* margin-right: 300px;  */
}

.video-info {
	/* display: inline-block;
    width: 200px;*/
	margin-left: 10px;
	/* background-color: grey; */
}

.profile-picture {
	width: 36px;
	border-radius: 40px;
}

.thumbnail-row {
	margin-bottom: 8px;
	position: relative;

}
.video-time {
	position: absolute;
	bottom: 8px;
	right: 5px;
	color: white;
	background-color: black;
	font-family: Roboto, Arial;
	font-size: 12px;
	font-weight: 500;
	/* padding: 2px;
	padding-left: 4px; */
	padding: 4px 2px 4px 2px
	
}

.video-info-grid {
	display: grid;
	grid-template-columns: 50px 1fr;
}

.video-grid {
	display: grid;
 grid-template-columns: 1fr 1fr 1fr; 
	row-gap: 40px;
	column-gap: 16px;
	

}
@media (max-width: 750px){
	.video-grid {
		grid-template-columns: 1fr 1fr;
		/* opacity: 0; */
	}

/* @media (max-width: 751px) and (min-width: 999px){
	.video-grid {
		grid-template-columns: 1fr 1fr 1fr;
		opacity: 0; 
	} 
*/
@media (min-width: 1000px){
	.video-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		/* opacity: 0; */
	}